{% extends 'layout.html' %}

{% block header %}
    <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}


{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at enim nibh. Suspendisse diam elit, elementum a bibendum at, scelerisque at nisi. Aliquam ligula erat, suscipit a consectetur nec, malesuada eu augue. Pellentesque non sapien semper, bibendum neque nec, egestas lectus. Vestibulum vel turpis ut erat tempor molestie commodo quis est. Donec quis odio egestas, volutpat metus ut, iaculis risus. Donec in molestie mi. Donec egestas eu dui vitae ultrices. Sed vel rhoncus urna. Suspendisse vestibulum porta lorem nec finibus. Integer lobortis faucibus orci vitae bibendum. Curabitur nec erat tempus, blandit sapien non, finibus lacus. Curabitur vel magna a lorem sodales dapibus eu nec nisi. In condimentum urna sed mauris dictum, et pharetra risus cursus. Nulla blandit tellus mi, quis tincidunt orci placerat nec. Duis dignissim mauris vel neque suscipit, id condimentum diam pellentesque.
    </p>
{% endblock content %}